#header {
    font-family: 'Raleway', sans-serif;
    background-color: #3D99D9;
    text-align: center;
    padding:10px;
}
#header h1{
    color: white;
    
}
.coin {
    color: white;
    margin:auto;
    /*text-decoration: none;*/
    /*font-size:20px;*/
}
html,
body{
    background-color: #3D99D9;
    margin:0;
    padding:0;
    height: 100%;
}

#container{
    min-height: 100%;
    position: relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   
}

table
{
    border-collapse: collapse;
}
table,th,td
{
    border:1px solid black;
}